{% extends 'base.html' %}


{% block content %}


<div class="weui-cells">
  <a class="weui-cell weui-cell_access" href="{{url_for('.get_access_token')}}">
    <div class="weui-cell__bd">
      <p>获取access_token</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" href="{{url_for('.refresh_token')}}">
    <div class="weui-cell__bd">
      <p>refresh token</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" href="{{url_for('.check_access_token')}}">
    <div class="weui-cell__bd">
      <p>检查access_token</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" href="{{url_for('.userinfo')}}">
    <div class="weui-cell__bd">
      <p>获取用户个人信息</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
</div>

{% endblock %}